@import url("style.css");
@import url("cols.css");
:root{ 
    --white: #ffffff;
    --black: #000000;
    --selected: #404040;
}
/*article*/
.d-article {border: solid 1px #0d0d0d33;padding: 0.5em;border-radius: 3px;margin: 3px;box-shadow: 1px 1px 2px #b3b1b1;display: flow-root;}
.d-article .d-article-header {font-size: larger;border-bottom: solid 1px #3a3a3a22;padding: 0.5em;}
.d-article .d-article-section {
	font-size: medium;
	text-align: justify;
	padding: 0.5em;
	line-height: normal;
	text-overflow: hidden;
	text-overflow-x:scroll;
}
.d-article .d-article-footer {display: flow-root;}
/*tabstrip*/

.d-hidden{display: none !important;}
.d-selected{background-color: #404040 !important;  color: #f5f0f0; }

.item-selected {border: solid 1px #e6e6e6;padding: 0.5em;width: max-content;border-radius: 5px;float: left;}
.list-selected {list-style: none;padding: 0;}
.item-selected>em{cursor: pointer;}
/*text*/
.d-text {padding: 0.75em;display: flow-root;font-size: 0.80em;font-family: sans-serif;border-radius: 5px;border:solid 1px #dee2e6;width:-webkit-fill-available;}



/* Ancho de las columnas fijado */
table th, table td {
  padding: 8px;
  /*border: 1px solid black;*/
  text-align: center;
}

/* Mantener el scroll en tbody */
tbody {
  display: block;
  /*height: 200px; /* Ajusta la altura según lo que necesites */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Mantener el thead en su lugar y hacer que las columnas coincidan */
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* Importante para que el ancho de columnas coincida */
}

/* Ajuste adicional para que el thead no se desplace */
thead {
  width: calc(100% - 17px); /* Para compensar el borde */
}